<!DOCTYPE html>
{% load i18n static %}
<html lang="en" ng-app="profileApp">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css"
        href='{% static "common/css/angular-material.min.css" %}'>
</head>
<body>
<div ng-controller="profileController" layout="column" ng-cloak>
  <md-toolbar layout="row">
    <div class="md-toolbar-tools">

      <h1 layout-align-gt-sm="center">
        Ambulatoria
      </h1>
      <div layout-align="end end">
        <md-button href="/diagnoses">Diagnoses</md-button>
      </div>


    </div>
  </md-toolbar>
  <md-card>
    <md-content md-theme="docs-dark" layout-gt-sm="row" layout-padding>
      <div layout-gt-sm="row">
        <md-input-container>
          <label>Fullname</label>
          <input ng-model="profile.fullname">
        </md-input-container>
        <md-input-container>
          <label>Email</label>
          <input ng-model="profile.email" type="email">
        </md-input-container>
      </div>
    </md-content>

    <md-content layout-padding>
      <div>
        <form name="userForm">
          <div>
            <md-input-container>

              <label>Birthday</label>
              <md-datepicker ng-model="profile.birthday"></md-datepicker>
            </md-input-container>
          </div>

          <md-input-container class="md-block">
            <label>Address</label>
            <input ng-model="profile.address">
          </md-input-container>

          <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-sm>
              <label>Mobile Phone</label>
              <input input name="postalCode" ng-model="profile.mobile" placeholder="+380930000000"
                     required ng-pattern="/^\+[0-9]{12}$/" md-maxlength="13">
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Sex</label>
              <md-select ng-model="profile.sex">
                <md-option ng-repeat="sex in sexs" value="[[sex.abbrev]]">
                  [[sex.abbrev]]
                </md-option>
              </md-select>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm>
              <label>Blood Type</label>
              <md-select ng-model="profile.blood_type">
                <md-option ng-repeat="blood in bloods" value="[[blood.abbrev]]">
                  [[blood.abbrev]]
                </md-option>
              </md-select>
            </md-input-container>
          </div>
          <section layout="row" layout-align="center center" layout-wrap>
            <md-button type="submit" class="md-raised md-primary">Save</md-button>
          </section>
        </form>
      </div>
    </md-content>
  </md-card>
</div>

<script src='{% static "common/js/angular.min.js"%}'></script>
<script src='{% static "common/js/angular-material.min.js"%}'></script>
<script src='{% static "common/js/angular-material.min.js"%}'></script>
<script src='{% static "common/js/angular-aria.min.js"%}'></script>
<script src='{% static "common/js/angular-animate.min.js"%}'></script>
<script src='{% static "common/js/angular-messages.min.js"%}'></script>

<script src='{% static "patient/js/profile.js"%}'></script>
</body>
</html>