<!DOCTYPE html>
{% load i18n static %}
<html lang="en" ng-app="diagnoseApp">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link rel="stylesheet" type="text/css"
        href='{% static "common/css/angular-material.min.css" %}'>
</head>
<body>
<div ng-controller="indexController" layout="column" ng-cloak>

  <md-toolbar layout="row">
    <div class="md-toolbar-tools">
      <md-button href="/profile">Profile</md-button>
      <h1 layout-align-gt-sm="center">
        Ambulatoria
      </h1>
    </div>
  </md-toolbar>
  <md-content layout-gt-sm="row" layout-padding>
    <div ng-repeat="diagnose in diagnoses" flex-xs flex-gt-xs="50">
      <md-card layout-padding>
        <md-card-header>
          <!--<md-card-avatar>-->
          <!--<img src="/media/ic_account_box_black_36px.svg"/>-->
          <!--</md-card-avatar>-->
          <md-card-header-text>
            <span class="md-title">[[diagnose.doctor]]</span>
          </md-card-header-text>
        </md-card-header>

        <span class="md-headline">Card header</span>

        <p>
          [[diagnose.text]]
        </p>

      </md-card>
    </div>
  </md-content>
  [[diagnoses]]
</div>

<script src='{% static "common/js/angular.min.js"%}'></script>
<script src='{% static "common/js/angular-material.min.js"%}'></script>
<script src='{% static "common/js/angular-material.min.js"%}'></script>
<script src='{% static "common/js/angular-aria.min.js"%}'></script>
<script src='{% static "common/js/angular-animate.min.js"%}'></script>
<script src='{% static "common/js/angular-messages.min.js"%}'></script>

<script src='{% static "diagnose/js/index.js"%}'></script>
</body>
</html>