body {
  background: #deedf0; /* fallback for old browsers */
  background: -webkit-linear-gradient(right, #deedf0, #acaaad);
  background: -moz-linear-gradient(right, #deedf0, #acaaad);
  background: -o-linear-gradient(right, #deedf0, #acaaad);
  background: linear-gradient(to left, #deedf0, #acaaad);
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}