<!DOCTYPE html>
<html lang="en" ng-app="profileApp">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <!--<link rel="stylesheet" type="text/css"-->
  <!--href='{% static "patient/css/profile.css" %}'>-->
  <!--<link rel="stylesheet" type="text/css"-->
  <!--href='{% static "patient/css/diagnoses.css" %}'>-->
  <link rel="stylesheet" type="text/css"
        href='common.css'>
  <link rel="stylesheet" type="text/css"
        href='diagnoses.css'>
  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body ng-controller="profileController">
<div class="row">
  <!--*******-->
  <!--  NAV  -->
  <!--*******-->

  <div class="col-md-2">
      <li role="presentation" class="">
        <a href="#" ng-click="profilePage()">Profile</a>
      </li>
  </div>
  <div class="col-md-10">
    <!--***************** -->
    <!-- DIAGNOSES TABLE  -->
    <!--***************** -->
    <div class="profile-diagnoses">
      <table class="table">
        <thead>
        <tr>
          <th>#</th>
          <th>Date</th>
          <th>Title</th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in diagnoses" ng-click="diagnoseRow(row.id)">
          <td>[[row.id]]</td>
          <td>[[row.data]]</td>
          <td>[[row.text]]</td>
        </tr>
        </tbody>
      </table>
    </div>
    <!--*************** -->
    <!-- DIAGNOSES ROW  -->
    <!--*************** -->
    <div class="profile-diagnose" ng-show="diagnoseRowShow">
      <p>Text : [[diagnose.text]]</p>

      <table class="table">
        <thead>
        <tr>
          <th>#</th>
          <th>File</th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="row in diagnose.files">
          <td>[[row.id]]</td>
          <td>[[row.file]]</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular-route.min.js"></script>
<script src='profile.js'></script>
</body>
</html>