<!DOCTYPE html>
<html lang="en" ng-app="profileApp">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <!--<link rel="stylesheet" type="text/css"-->
  <!--href='{% static "patient/css/profile.css" %}'>-->
  <!--<link rel="stylesheet" type="text/css"-->
  <!--href='{% static "patient/css/diagnoses.css" %}'>-->
  <!--<link rel="stylesheet" type="text/css"-->
        <!--href='common.css'>-->
  <!--<link rel="stylesheet" type="text/css"-->
        <!--href='diagnoses.css'>-->
  <!--<link rel="stylesheet" type="text/css"-->
        <!--href='profile.css'>-->
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.2/angular-material.min.css">
  <!--<link rel="stylesheet"-->
        <!--href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
</head>
<body >
<div ng-controller="profileController" ng-cloak class="row">
   <section layout="row" layout-sm="column" layout-align="center center" layout-wrap>
      <md-button class="md-raised">Button</md-button>
      <md-button class="md-raised md-primary">Primary</md-button>
      <md-button ng-disabled="true" class="md-raised md-primary">Disabled</md-button>
      <md-button class="md-raised md-warn">Warn</md-button>
      <div class="label">Raised</div>
    </section>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<!-- AngularJS Material Dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-animate.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-aria.js"></script>

<!-- AngularJS Material Javascript using GitCDN to load directly from `bower-material/master` -->
<script src="https://gitcdn.link/repo/angular/bower-material/master/angular-material.js"></script>

<script src='profile.js'></script>
</body>
</html>